body{
    font-family: 'Kanit', sans-serif;
}
table{
    
}
table td{
    padding: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    font-size: 13px;
}
